.bars rect {
    fill: steelblue;
    stroke: #fff;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#histogram{
    width: 960px;
    margin: 0 auto;
}

.brush .extent {
    stroke: #444;
    fill-opacity: .4;
    shape-rendering: crispEdges;
}
