.bar {
    font-size: 10px;
}

.bar rect {
    fill: steelblue;
    stroke: #000;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#histogram{
    width: 960px;
    margin: 0 auto;
}

.brush .extent {
    stroke: #444;
    fill-opacity: .4;
    shape-rendering: crispEdges;
}
